/* Misc */
/* colors */
/* map colors */
primary {
  color: white; }

secondary {
  color: white; }

alternative {
  color: rgba(119, 113, 119, 0.823); }

negro {
  color: #000; }

/* Spacings 1rem=10px */
/* font-family */
/* font sizes */
/* Normalizaciones */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  /*  background-color: rgb(127, 56, 56); */
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto); }

/* keyframe efecto neon titulos */
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE; }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80; } }

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 60px rgba(66, 220, 219, 0.8), 0 0 80px rgba(66, 220, 219, 0.5), 0 0 100px rgba(66, 220, 219, 0.5), 0 0 140px rgba(66, 220, 219, 0.5), 0 0 200px rgba(66, 220, 219, 0.5); }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5), 0 0 80px rgba(66, 220, 219, 0.5); } }

/* keyframes para subtitulo en pagina personajes */
@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 50%;
    left: 0; }
  50% {
    top: 50%;
    left: 50%; }
  75% {
    top: 0;
    left: 50%; }
  100% {
    top: 0;
    left: 0; } }

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 50%;
    left: 0; }
  50% {
    top: 50%;
    left: 50%; }
  75% {
    top: 0;
    left: 50%; }
  100% {
    top: 0;
    left: 0; } }

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0; }
  25% {
    right: 0;
    bottom: 50%; }
  50% {
    right: 50%;
    bottom: 50%; }
  75% {
    right: 50%;
    bottom: 0; }
  100% {
    right: 0;
    bottom: 0; } }

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0; }
  25% {
    right: 0;
    bottom: 50%; }
  50% {
    right: 50%;
    bottom: 50%; }
  75% {
    right: 50%;
    bottom: 0; }
  100% {
    right: 0;
    bottom: 0; } }

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0; }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff; }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0; }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01; }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00; }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0; } }

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0; }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff; }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0; }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01; }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00; }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0; } }

@-webkit-keyframes half-yellow-shadow {
  0% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%; }
  16.66% {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%; }
  32.32% {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%; }
  49.98% {
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%; }
  66.64% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%; }
  83.3% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 50%; }
  100% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%; } }

@keyframes half-yellow-shadow {
  0% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%; }
  16.66% {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%; }
  32.32% {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%; }
  49.98% {
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%; }
  66.64% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%; }
  83.3% {
    top: 50%;
    left: 0;
    height: 50%;
    width: 50%; }
  100% {
    top: 0;
    left: 0;
    height: 50%;
    width: 50%; } }

@-webkit-keyframes half-cyan-shadow {
  0% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%; }
  16.66% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%; }
  32.32% {
    bottom: 0;
    right: 50%;
    height: 50%;
    width: 50%; }
  49.98% {
    bottom: 50%;
    right: 50%;
    height: 50%;
    width: 50%; }
  66.64% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 100%; }
  83.3% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 50%; }
  100% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%; } }

@keyframes half-cyan-shadow {
  0% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%; }
  16.66% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%; }
  32.32% {
    bottom: 0;
    right: 50%;
    height: 50%;
    width: 50%; }
  49.98% {
    bottom: 50%;
    right: 50%;
    height: 50%;
    width: 50%; }
  66.64% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 100%; }
  83.3% {
    bottom: 50%;
    right: 0;
    height: 50%;
    width: 50%; }
  100% {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%; } }

/* keyframes para animacion en pagina contacto */
@keyframes slide {
  100% {
    top: -360px; } }

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px; } }

/* Partials */
nav.menu {
  background: #323739;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #43484a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.1rem solid #fff;
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.6);
  width: 100%;
  box-sizing: border-box;
  transition: all .35s ease; }
  nav.menu picture {
    width: 20%; }
    nav.menu picture .logo {
      width: 100%;
      max-width: 150px; }
  nav.menu ul.menuItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin-left: 3rem;
    width: 100%; }
    nav.menu ul.menuItems li {
      border-radius: 0.3rem; }
    nav.menu ul.menuItems li a {
      text-decoration: none;
      font-size: 1.8em;
      color: #a3b132; }
    nav.menu ul.menuItems li a:hover {
      border-bottom: 2px solid crimson;
      border-top: 2px solid crimson;
      font-weight: bold;
      transition: .1s; }
    nav.menu ul.menuItems li.active {
      border-bottom: 2px solid crimson; }
  nav.menu #boton {
    display: none; }
  nav.menu input[type="checkbox"] {
    width: 63px;
    height: 65px;
    position: absolute;
    top: 147px;
    display: none; }

/* MEDIAQUERIES HEADER */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav.menu input[type="checkbox"] {
    top: 87px; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  nav.menu input[type="checkbox"] {
    top: 112px;
    height: 85px;
    width: 85px; } }

@media (max-width: 768px) {
  nav.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    nav.menu ul.menuItems {
      display: none;
      list-style: none;
      align-items: center; }
      nav.menu ul.menuItems li a {
        text-decoration: none;
        color: #a3b132;
        font-size: 1.5em; }
    nav.menu #boton {
      display: block; }
    nav.menu input[type="checkbox"] {
      display: block;
      opacity: 0; }
      nav.menu input[type="checkbox"]:checked ~ ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 3rem; } }

div.menuFooter {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #fff;
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.6);
  width: 100%; }
  div.menuFooter ul.menuRedes {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
    margin-left: 3rem;
    width: 100%; }
  div.menuFooter ul.menuRedes li a {
    text-align: center;
    background: #000000e3;
    border-radius: 70%;
    font-size: 3.5em;
    transition: .2s;
    color: white; }
  div.menuFooter ul.menuRedes li a::before {
    width: 100%;
    height: 100%;
    border-radius: 80%;
    background: #f8ec49;
    transition: .2s;
    transform: scale(0.9); }
  div.menuFooter ul.menuRedes li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10; }
  div.menuFooter ul.menuRedes li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10; }

/* MEDIAQUERIES FOOTER PARA 320px */
@media only screen and (max-width: 320px) {
  div.menuFooter picture img.logo {
    width: 84%; } }

/* Pages */
/* PAGINA HOME */
h1 {
  text-align: center;
  /* margin-top: $spacing-medium; */
  margin-bottom: 3.5rem;
  font-size: 6em;
  text-indent: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf); }

div.container article.vikingsNeon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle; }
  div.container article.vikingsNeon h1.neon {
    font-family: neon;
    margin-top: 2rem;
    color: #426DFB;
    font-size: 12em;
    text-shadow: 0 0 3vw #2356FF;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite; }

section.texto {
  display: flex;
  flex-direction: column; }
  section.texto h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 0rem 5rem 5rem 5rem;
    color: white; }
  section.texto p {
    text-indent: 2rem;
    font-family: "Barlow", sans-serif;
    font-size: 3em;
    padding: 0rem 12rem 5rem 12rem;
    text-align: center;
    color: white; }
  section.texto .videoCentrado {
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.5rem;
    transform: rotate(-2deg);
    box-shadow: 0 8px 32px 0 rgba(13, 1, 234, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(13, 1, 234, 0.37); }

/* MEDIAQUERIES HOME DESDE 480px HASTA 768px */
@media only screen and (max-width: 768px) {
  div.container article.vikingsNeon h1.neon {
    padding: 0rem 6rem 0rem 4rem;
    font-size: 5.6em; }
  section.texto h2 {
    font-size: 2em;
    padding: 0rem 7rem 3rem 5rem; }
  section.texto p {
    font-size: 2em;
    padding: 0rem 7rem 3rem 6rem; }
  section.texto .videoCentrado {
    width: 70%;
    height: 200px; } }

/* MEDIAQUERIES HOME DESDE 320px HASTA 480px */
@media only screen and (max-width: 480px) {
  div.container article.vikingsNeon h1.neon {
    padding: 0rem 6rem 0rem 4rem;
    font-size: 5em; }
  section.texto h2 {
    font-size: 1.5em;
    padding: 0rem 7rem 3rem 5rem; }
  section.texto p {
    font-size: 1.4em;
    padding: 0rem 4rem 3rem 3rem; }
  section.texto .videoCentrado {
    width: 70%;
    height: 200px; } }

/* PAGINA PERSONAJES */
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf); }

section.container article.personajesNeon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle; }
  section.container article.personajesNeon h1.neon {
    font-family: neon;
    color: #FB4264;
    margin-top: 3.5rem;
    font-size: 8em;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite; }

section.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }
  section.wrapper article.main-div {
    position: relative;
    margin: 10px;
    background-color: transparent; }
  section.wrapper article.main-div1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    z-index: -1;
    -webkit-animation-name: yellow-shadow;
    animation-name: yellow-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }
  section.wrapper article.main-div1::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    z-index: -1;
    -webkit-animation-name: cyan-shadow;
    animation-name: cyan-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }
  section.wrapper article h2 {
    font-size: 3em;
    margin: 0;
    position: relative;
    padding: 20px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }

section.cards {
  padding: 8rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  grid-template-areas: "card1    .       card2" ".      card3         ." "card4    .       card5"; }
  section.cards article.characters {
    height: 100%;
    width: 75%;
    margin-left: 5rem;
    padding: 0.25rem 0;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px; }
    section.cards article.characters img.imagenCharacters:hover {
      box-shadow: 0 8px 32px 0 rgba(252, 2, 2, 0.88);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 10px;
      border: 1px solid rgba(252, 2, 2, 0.88); }
    section.cards article.characters:nth-of-type(1) {
      grid-area: card1; }
    section.cards article.characters:nth-of-type(2) {
      grid-area: card2; }
    section.cards article.characters:nth-of-type(3) {
      grid-area: card3; }
    section.cards article.characters:nth-of-type(4) {
      grid-area: card4; }
    section.cards article.characters:nth-of-type(5) {
      grid-area: card5; }
    section.cards article.characters h3.tituloCharacters {
      font-family: cursive;
      font-size: 3em;
      text-align: center;
      color: white;
      margin-bottom: 3rem; }
    section.cards article.characters p.charactersParrafo {
      padding: 1rem;
      font-size: 1.5em;
      text-align: center;
      color: white; }
    section.cards article.characters img.imagenCharacters {
      border-radius: 1em;
      width: 100%;
      height: 250px; }
    section.cards article.characters audio.ragnarAudio {
      position: absolute;
      width: 180px;
      left: 137px;
      top: 10px;
      opacity: 0; }
    section.cards article.characters audio.lagerthaAudio {
      position: absolute;
      width: 181px;
      top: 9px;
      left: 124px;
      opacity: 0; }
    section.cards article.characters audio.bjornAudio {
      position: absolute;
      width: 180px;
      left: 147px;
      top: 10px;
      opacity: 0; }
    section.cards article.characters audio.rolloAudio {
      position: absolute;
      width: 180px;
      left: 150px;
      top: 10px;
      opacity: 0; }
    section.cards article.characters audio.flokiAudio {
      position: absolute;
      width: 180px;
      left: 152px;
      top: 10px;
      opacity: 0; }

@media only screen and (max-width: 992px) {
  section.container article.personajesNeon h1.neon {
    font-size: 5.6em; }
  section.wrapper article h2 {
    font-size: 2em; }
  section.cards {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-right: 4rem; }
    section.cards article.characters h3.tituloCharacters {
      font-size: 3em;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    section.cards article.characters p.charactersParrafo {
      font-size: 2.5em;
      text-align: center;
      margin-bottom: 1rem; }
    section.cards article.characters img.imagenCharacters {
      height: 250px; }
    section.cards audio.ragnarAudio {
      position: absolute;
      width: 180px;
      left: 137px;
      top: 10px;
      opacity: 0; }
    section.cards audio.lagerthaAudio {
      position: absolute;
      width: 181px;
      top: 9px;
      left: 124px;
      opacity: 0; }
    section.cards audio.bjornAudio {
      position: absolute;
      width: 180px;
      left: 147px;
      top: 10px;
      opacity: 0; }
    section.cards audio.rolloAudio {
      position: absolute;
      width: 180px;
      left: 150px;
      top: 10px;
      opacity: 0; }
    section.cards audio.flokiAudio {
      position: absolute;
      width: 180px;
      left: 152px;
      top: 10px;
      opacity: 0; } }

/* MEDIAQUERIES PERSONAJES HASTA 480px */
@media only screen and (max-width: 480px) {
  section.container article.personajesNeon h1.neon {
    font-size: 4em; }
  section.wrapper article h2 {
    font-size: 1.5em; }
  section.cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "card1" "card2" "card3" "card4" "card5"; }
    section.cards article.characters h3.tituloCharacters {
      font-size: 2em;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    section.cards article.characters p.charactersParrafo {
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 1rem; }
    section.cards article.characters img.imagenCharacters {
      height: 135px; }
    section.cards audio.ragnarAudio {
      position: absolute;
      width: 180px;
      left: 72px;
      top: 10px;
      opacity: 0; }
    section.cards audio.lagerthaAudio {
      position: absolute;
      width: 181px;
      top: 9px;
      left: 72px;
      opacity: 0; }
    section.cards audio.bjornAudio {
      position: absolute;
      width: 180px;
      left: 72px;
      top: 10px;
      opacity: 0; }
    section.cards audio.rolloAudio {
      position: absolute;
      width: 180px;
      left: 72px;
      top: 10px;
      opacity: 0; }
    section.cards audio.flokiAudio {
      position: absolute;
      width: 180px;
      left: 72px;
      top: 10px;
      opacity: 0; } }

/* PAGINA TEMPORADAS */
section.temporadas h2 {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
  text-align: center;
  font-size: 6em;
  color: white;
  text-transform: uppercase;
  color: white;
  text-align: center;
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

section.temporadas h3 {
  color: rgba(119, 113, 119, 0.823);
  font-size: 3em;
  text-align: center;
  margin-bottom: 3rem; }

section.temporadas p {
  padding: 0rem 12rem 5rem 12rem;
  color: white;
  text-indent: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  text-align: center; }

section.temporadas img.banner1 {
  width: 80%;
  max-width: 800px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

section.temporadas img.banner6 {
  width: 80%;
  max-width: 800px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem; }

/* MEDIAQUERIES TEMPORADAS DESDE 480px HASTA 768px */
@media only screen and (max-width: 768px) {
  section.temporadas {
    display: flex;
    flex-direction: column; }
    section.temporadas h2 {
      text-align: center;
      font-size: 3.2em; }
    section.temporadas h3 {
      margin-bottom: 3rem;
      text-align: center;
      font-size: 3em; }
    section.temporadas p {
      padding: 2rem 4rem 3rem 4rem;
      margin-bottom: 3rem;
      font-size: 2em;
      text-align: center;
      margin-left: 2rem;
      margin-right: 2rem; }
    section.temporadas img.banner1 {
      width: 65%; }
    section.temporadas img.banner6 {
      width: 65%; } }

/* MEDIAQUERIES TEMPORADAS DESDE 320px HASTA 480px */
@media only screen and (max-width: 480px) {
  section.temporadas {
    display: flex;
    flex-direction: column; }
    section.temporadas h2 {
      text-align: center;
      font-size: 2.6em; }
    section.temporadas h3 {
      text-align: center;
      font-size: 2em; }
    section.temporadas p {
      padding: 2rem 2rem 3rem 2rem;
      text-align: center;
      font-size: 1.5em; }
    section.temporadas img.banner1 {
      width: 70%;
      height: 200px; }
    section.temporadas img.banner6 {
      width: 70%;
      height: 200px; } }

/* @media (max-width: 768px) {
    section.temporadas{
        display:flex;
        flex-direction:column;
        & h2{
            text-align:center;
            font-size: 4em;
        }
        & h3{
            margin-bottom: $indent-sangria;
            text-align:center;
            font-size: 2.5em;
        }
    
        & p {
            text-align:center;
            font-size: 2.2em;
            text-align: justify;
            margin-left:$indent-sangria;
            margin-right:$indent-sangria;
        }
    }

} */
/* PAGINA PLATAFORMAS */
section article div.container h1 {
  margin-top: 3.5rem; }

section article div.container article.vikingsNeon h1.neon {
  font-size: 10em;
  padding: 0; }

section article h2.subtituloPlataformas {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
  text-align: center;
  font-size: 6em;
  color: white;
  text-transform: uppercase;
  color: white;
  text-align: center;
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

section article img.conSuscripcion {
  width: 100%;
  height: 400px;
  margin: 0 4rem; }

section article img.sinSuscripcion {
  width: 100%;
  height: 400px;
  margin: 0 4rem;
  margin-bottom: 3rem; }

section article div.container {
  display: flex;
  justify-content: center;
  align-items: center; }

/* MEDIAQUERIES PLATAFORMAS */
@media only screen and (max-width: 992px) {
  section article div.container article.vikingsNeon h1.neon {
    font-size: 5em;
    padding: 0; }
  section article h2.subtituloPlataformas {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 4em;
    text-align: center; }
  section article img.conSuscripcion {
    margin-bottom: 5rem;
    width: 70%; }
  section article img.sinSuscripcion {
    width: 70%; }
  section article div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media only screen and (max-width: 480px) {
  section article div.container article.vikingsNeon h1.neon {
    font-size: 3.2em;
    padding: 0; }
  section article h2.subtituloPlataformas {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.4em;
    text-align: center; }
  section article img.conSuscripcion {
    margin-bottom: 5rem;
    width: 70%;
    height: 250px; }
  section article img.sinSuscripcion {
    width: 70%;
    height: 250px; }
  section article div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/* PAGINA CONTACTO */
section.redesSociales {
  text-align: center;
  width: 100%; }
  section.redesSociales div.contactImagen, section.redesSociales div.holaaa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  section.redesSociales img.contact {
    width: 85%;
    max-width: 750px;
    height: 500px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem; }
  section.redesSociales h1.tituloContacto {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-top: 3.5rem;
    text-align: center;
    font-size: 6em;
    color: white;
    text-transform: uppercase;
    color: white;
    text-align: center;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  section.redesSociales div.wrapper div.static-txt {
    color: #fff;
    font-size: 6em;
    font-weight: 400; }
  section.redesSociales div.wrapper ul.dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden; }
  section.redesSociales div.wrapper ul.dynamic-txts li {
    color: #a3b132;
    list-style: none;
    font-size: 6em;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite; }
  section.redesSociales div.wrapper ul.dynamic-txts li span {
    position: relative; }
  section.redesSociales div.wrapper ul.dynamic-txts li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 108%;
    width: 100%;
    background: #000;
    border-left: 2px solid #a3b132;
    animation: typing 1.5s steps(9) infinite; }
  section.redesSociales div.holaaa {
    text-align: center; }
  section.redesSociales form.formulario {
    margin-bottom: 10rem;
    font-size: 3em; }
    section.redesSociales form.formulario label.formNombreApellido {
      color: white; }
    section.redesSociales form.formulario label.formEmail {
      color: white; }
    section.redesSociales form.formulario textarea.textArea {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      width: 70%;
      height: 150px; }
    section.redesSociales form.formulario input.centrarNombreApellido {
      position: relative;
      padding: 2px;
      top: -4px; }
    section.redesSociales form.formulario input.centrarEmail {
      position: relative;
      padding: 2px;
      top: -4px; }

/* MEDIAQUERIES CONTACTO */
@media only screen and (max-width: 768px) {
  section.redesSociales {
    display: flex;
    flex-direction: column; }
    section.redesSociales img.contact {
      width: 70%;
      height: 400px; }
    section.redesSociales h1.tituloContacto {
      margin-top: 3.5rem;
      font-size: 4em; }
    section.redesSociales h3.consulta {
      text-align: center;
      font-size: 3em;
      margin-top: 1rem;
      margin-bottom: 5rem; }
    section.redesSociales div.holaaa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
    section.redesSociales form.formulario {
      display: flex;
      flex-direction: column;
      margin-bottom: 10rem;
      font-size: 2.2em; }
      section.redesSociales form.formulario textarea.textArea {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        width: 100%; }
      section.redesSociales form.formulario label.formNombreApellido {
        padding: 1rem; }
      section.redesSociales form.formulario label.formEmail {
        padding: 1rem; }
    section.redesSociales div.wrapper div.static-txt {
      color: #fff;
      font-size: 4em; }
    section.redesSociales div.wrapper ul.dynamic-txts li {
      font-size: 4em; }
    section.redesSociales div.wrapper ul.dynamic-txts li span::after {
      height: 140%; } }

@media only screen and (max-width: 480px) {
  section.redesSociales {
    display: flex;
    flex-direction: column; }
    section.redesSociales img.contact {
      width: 70%;
      height: 250px; }
    section.redesSociales h1.tituloContacto {
      margin-top: 3.5rem;
      font-size: 2.5em;
      padding: 0rem 2rem 0rem 2rem; }
    section.redesSociales div.holaaa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
    section.redesSociales form.formulario {
      display: flex;
      flex-direction: column;
      margin-bottom: 10rem;
      font-size: 2.2em; }
      section.redesSociales form.formulario textarea.textArea {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        width: 100%; }
      section.redesSociales form.formulario label.formNombreApellido {
        padding: 1rem; }
      section.redesSociales form.formulario label.formEmail {
        padding: 1rem; }
    section.redesSociales div.wrapper div.static-txt {
      color: #fff;
      font-size: 3em; }
    section.redesSociales div.wrapper ul.dynamic-txts li {
      font-size: 3em; }
    section.redesSociales div.wrapper ul.dynamic-txts li span::after {
      height: 165%; } }
