/* Misc */
/* colors */
/* Spacings 1rem=10px */
/* font-family */
/* font sizes */
/* Normalizaciones */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #7f3838;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto); }

/* Partials */
nav.menu {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #fff;
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.6);
  width: 100%; }
  nav.menu picture {
    width: 20%; }
    nav.menu picture .logo {
      width: 100%;
      max-width: 150px; }
  nav.menu ul.menuItems {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
    margin-left: 3rem;
    width: 100%; }
    nav.menu ul.menuItems li {
      border-radius: 0.3rem; }
    nav.menu ul.menuItems li a {
      text-decoration: none;
      font-size: 1.8em;
      color: #fff; }
    nav.menu ul.menuItems li:hover, nav.menu ul.menuItems li.active {
      background-color: rgba(0, 0, 0, 0.3);
      transition: .4s; }
  nav.menu #boton {
    display: none; }
  nav.menu input[type="checkbox"] {
    width: 128px;
    height: 36px;
    position: absolute;
    top: 147px;
    display: none; }

div.menuFooter {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #fff;
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.6);
  width: 100%; }
  div.menuFooter ul.menuRedes {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
    margin-left: 3rem;
    width: 100%; }

/* Pages */
/* PAGINA HOME */
h1 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 6em;
  text-indent: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

section.texto {
  display: flex;
  flex-direction: column; }
  section.texto h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4em;
    text-align: center;
    margin-bottom: 2.4rem; }
  section.texto p {
    text-indent: 2rem;
    font-family: "Barlow", sans-serif;
    font-size: 2.5em;
    margin-bottom: 5rem;
    text-align: justify;
    color: #e40000;
    background-image: url(../Images/shahin-khalaji-DGhN4Tjs2zc-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  section.texto .videoCentrado {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
    transform: rotate(-2deg); }
