
    /* colors */
    $text-color:rgb(228, 0, 0);

     /* Spacings 1rem=10px */
    $spacing-small: 2.4rem;
    $spacing-medium: 5rem;
    $spacing-large: 5rem;
    $indent-sangria:2rem;


    /* font-family */
    $font-titulo:Verdana, Geneva, Tahoma, sans-serif;
    $font-subtitulo:Arial, Helvetica, sans-serif;
    $font-texto:'Barlow', sans-serif;

    /* font sizes */
    $text-large: 6em;
    $text-medium: 3.4em;
    $text-base: 2.5em;
    $text-small: 1.4em;

