/* PAGINA CONTACTO */
section.redesSociales{
    text-align: center;
    width:100%;
    & div.contactImagen {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    & img.contact{
        width:100%;
        height:40vw;
        max-width:60vw;
        margin-top:$spacing-medium;
        margin-bottom:$spacing-medium;
    }
    & h1.tituloContacto{
        margin-top:$spacing-medium;
        margin-bottom: $spacing-medium;
        margin-top: $spacing-medium;
        text-align:center;
        font-size: 4vw;
        color: map-get($colors,primary);
        text-transform:uppercase;
        color:white;
        text-align:center;
        animation: neonGlow 2s infinite alternate $easeInOutQuad;
    }
    & div.wrapper {
        div.static-txt{
        color:#fff;
        font-size:6em;
        font-weight:400;
        }
        ul.dynamic-txts{
        margin-left:15px;
        height: 90px;
        line-height:90px;
        overflow:hidden;
        }
        ul.dynamic-txts li{
        color:#fc6d6d;
        list-style:none;
        font-size:6em;
        font-weight:500;
        position:relative;
        top:0;
        animation: slide 6s steps(4) infinite;
        }
        @keyframes slide{
            100%{
                top:-360px;
            }
        }
        
        ul.dynamic-txts li span{
        position:relative;
        }
        ul.dynamic-txts li span::after{
        content:'';
        position:absolute;
        left:0;
        height:100%;
        width:100%;
        background:#000;
        border-left:2px solid #fc6d6d;
        animation: typing 1.5s steps(9) infinite;    
        }
        @keyframes typing{
            100%{
                left:100%;
                margin:0 -35px 0 35px;
            }
        }

    }
    & div.holaaa{
        @extend div.contactImagen;
        text-align:center;
    }
    & form.formulario{
        margin-bottom:$spacing-superlarge;
        font-size:$text-base;
        textarea.textArea {
            display:flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            width:70%;
            height:150px;
        }
    }

}

/* MEDIAQUERIES CONTACTO */

@media (max-width: 768px) {
    section.redesSociales{
        display:flex;
        flex-direction:column;
        & img.contact{
            width: 70%;
        }
        & h1.tituloContacto{
            margin-top:$spacing-medium;
            font-size: 4vw;
        }
        & h3.consulta {
            text-align: center;
            font-size:$text-medium;
            margin-top: 1rem;
            margin-bottom: $spacing-large;
        }
        
        & div.holaaa{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            text-align:center;
        }
        & form.formulario{
            display:flex;
            flex-direction:column;
            margin-bottom:$spacing-superlarge;
            font-size:$text-small;
            textarea.textArea {
                display:flex;
                margin-left: auto;
                margin-right: auto;
                margin-bottom:$indent-sangria;
                width:100%;
                
            }
    }

}
}