
/* PAGINA HOME */

h1 {
    text-align: center;
    /* margin-top: $spacing-medium; */
    margin-bottom: $spacing-medium;
    font-size: $text-large;
    text-indent: $indent-sangria;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
div.container article.vikingsNeon {
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        vertical-align: middle;
        & h1.neon{
            font-family: neon;
            margin-top: 2rem;
            color: #426DFB;
            font-size: 12em;
            text-shadow: 0 0 3vw #2356FF;
            animation: neon 1s ease infinite;
            -moz-animation: neon 1s ease infinite;
            -webkit-animation: neon 1s ease infinite;
        }
}

section.texto {
    display: flex;
    flex-direction: column;
    & h2{
        font-family:$font-subtitulo;
        font-size:$text-medium;
        text-align:center;
        padding: 0rem 5rem 5rem 5rem;
        color: map-get($colors,secondary);
    }
    & p {
        text-indent: $indent-sangria;
        font-family: $font-texto;
        font-size: $text-medium;
        padding: 0rem 12rem 5rem 12rem;
        text-align:center;
        color: map-get($colors,secondary);
    }
    & .videoCentrado {
        width:100%;
        max-width:700px;
        height:500px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $spacing-medium;
        transform: rotate(-2deg);
        box-shadow: 0 8px 32px 0 rgba(13, 1, 234, 0.37);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        border: 1px solid rgba(13, 1, 234, 0.37);

    }
}

/* MEDIAQUERIES HOME DESDE 480px HASTA 768px */
@media only screen and (max-width: 768px) {
    div.container article.vikingsNeon h1.neon {
        padding: 0rem 6rem 0rem 4rem;
        font-size: 5.6em;
    }
    section.texto{
        & h2{
            font-size: 2em;
            padding: 0rem 7rem 3rem 5rem;
        }
        & p {
            font-size: 2em;
            padding: 0rem 7rem 3rem 6rem;
        }
        & .videoCentrado{
            width:70%;
            height:200px;
        }
    }
}


/* MEDIAQUERIES HOME DESDE 320px HASTA 480px */
@media only screen and (max-width: 480px) {
    div.container article.vikingsNeon h1.neon {
        padding: 0rem 6rem 0rem 4rem;
        font-size: 5em;
    }
    section.texto{
        & h2{
            font-size: 1.5em;
            padding: 0rem 7rem 3rem 5rem;
        }
        & p {
            font-size: 1.4em;
            padding: 0rem 4rem 3rem 3rem;           
        }
        & .videoCentrado{
            width:70%;
            height:200px;
        }
    }
}





