
/* PAGINA HOME */

h1 {
    text-align: center;
    /* margin-top: $spacing-medium; */
    margin-bottom: $spacing-medium;
    font-size: $text-large;
    text-indent: $indent-sangria;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
div.container article.vikingsNeon {
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        vertical-align: middle;
        & h1.neon{
            font-family: neon;
            color: #426DFB;
            font-size: 7vw;
            text-shadow: 0 0 3vw #2356FF;
            animation: neon 1s ease infinite;
            -moz-animation: neon 1s ease infinite;
            -webkit-animation: neon 1s ease infinite;
        }
}

section.texto {
    display: flex;
    flex-direction: column;
    & h2{
        font-family:$font-subtitulo;
        font-size:$text-medium;
        text-align:center;
        margin-bottom: $spacing-small;
        color: map-get($colors,secondary);
    }
    & p {
        text-indent: $indent-sangria;
        font-family: $font-texto;
        font-size: $text-medium;
        margin-left:$indent-sangria;
        margin-right:$indent-sangria;
        margin-bottom:$spacing-medium;
        text-align: justify;
        color: map-get($colors,secondary);
        background-image: url(../Images/shahin-khalaji-DGhN4Tjs2zc-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    & .videoCentrado {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $spacing-medium;
        transform: rotate(-2deg);
        box-shadow: 0 8px 32px 0 rgba(13, 1, 234, 0.37);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        border: 1px solid rgba(13, 1, 234, 0.37);
    }
}

/* MEDIAQUERIES HOME PARA 768px */
@media (max-width: 768px) {
    h1 {
        margin-top:$spacing-medium;
        font-size: $text-medium;
    }
    section.texto{
        & h2{
            font-size:$text-base;
            margin-bottom: $spacing-small;
        }
        & p {
            font-size: 2.4em;
        }
        & .videoCentrado{
            height:200px;
        }
    }

}
