/* PAGINA PERSONAJES */
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
div.container article.personajesNeon {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    vertical-align: middle;
    & h1.neon{
        font-family: neon;
        color: #FB4264;
        margin-top: $spacing-medium;
        font-size: 7vw;
        text-shadow: 0 0 3vw #F40A35;
        animation: neon 1s ease infinite;
        -moz-animation: neon 1s ease infinite;
        -webkit-animation: neon 1s ease infinite;
    }
  }

h2.subtitulo {

    text-align: justify;
    font-size: $text-medium;
    margin-left:$spacing-small;
    margin-right:$spacing-small;
    color: map-get($colors,secondary);
}

section.cards {
    
    padding: 8rem 0;
    display: grid;
    gap: $indent-sangria;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-template-areas:
        "card1    .       card2"
        ".      card3         ."
        "card4    .       card5";
    & article.characters {

        height:100%;
        width:75%;
        margin-left: $spacing-large;
        padding: 0.25rem 0;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        background: rgba( 231, 220, 88, 0.55 );
        box-shadow: 0 0.9rem 0.9rem rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        
        &:hover {
            
            box-shadow: 0 8px 32px 0 rgba(252, 2, 2, 0.88);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 10px;
            border: 1px solid rgba(252, 2, 2, 0.88);    
        }
        &:nth-of-type(1) {
            grid-area: card1;
        }
        
        &:nth-of-type(2) {
            grid-area: card2;
        }
        
        &:nth-of-type(3) {
            grid-area: card3;
        }
        
        &:nth-of-type(4) {
            grid-area: card4;
        }
        
        &:nth-of-type(5) {
            grid-area: card5;
        }

        & h3.tituloCharacters {
            font-family: cursive;
            font-size: $text-medium;
            text-align: center;
        }

        & p.charactersParrafo {
            padding: 1rem;
            font-size:$text-small;
            text-align: justify;
        }

        & img.imagenCharacters {
            border-radius: 1em;
        }


        & audio.ragnarAudio{
            position: absolute;
            width: 180px;
            left: 137px;
            top: 10px;
            opacity:0;
        }
        & audio.lagerthaAudio{
            position: absolute;
            width: 181px;
            top: 9px;
            left: 124px;
            opacity: 0;
        }
        & audio.bjornAudio{
            position: absolute;
            width: 180px;
            left: 147px;
            top: 10px;
            opacity:0;
        }
        & audio.rolloAudio{
            position: absolute;
            width: 180px;
            left: 150px;
            top: 10px;;
            opacity:0;
        }
        & audio.flokiAudio{
            position: absolute;
            width: 180px;
            left: 152px;
            top: 10px;
            opacity:0;
        }
    }
}

/* MEDIAQUERIES PERSONAJES */

@media (max-width: 768px) {

    h2.subtitulo {

        text-align: justify;
        font-size: $text-base;
        margin-left:$spacing-small;
        margin-right:$spacing-small;
        
    }
    
    section.cards {
        
        display: flex;
        flex-direction:column;
        gap: 2rem;
        align-items: center;
        margin-left:auto;
        margin-right:auto;
        width:50%;
        article.characters h3.tituloCharacters {
            font-size: $text-base;
        }
        }


}