/* PAGINA PERSONAJES */
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
section.container article.personajesNeon {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    vertical-align: middle;
    & h1.neon{
        font-family: neon;
        color: #FB4264;
        margin-top: $spacing-medium;
        font-size: 8em;
        text-shadow: 0 0 3vw #F40A35;
        animation: neon 1s ease infinite;
        -moz-animation: neon 1s ease infinite;
        -webkit-animation: neon 1s ease infinite;
    }
  }

section.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    & article.main-div{
        position: relative;
        margin: 10px;
        background-color: transparent;
    }
    & article.main-div1::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 50%;
        -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
        box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
        z-index: -1;
        -webkit-animation-name: yellow-shadow;
        animation-name: yellow-shadow;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;  
    }
    & article.main-div1::after{
        content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    z-index: -1;
    -webkit-animation-name: cyan-shadow;
    animation-name: cyan-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    }
    & article h2{
        font-size: $text-medium;
        margin: 0;
        position: relative;
        padding: 20px;
        background-color: map-get($colors,negro);
        color: map-get($colors,primary);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;  
    }
}

section.cards {
    
    padding: 8rem 0;
    display: grid;
    gap: $indent-sangria;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-template-areas:
        "card1    .       card2"
        ".      card3         ."
        "card4    .       card5";
    & article.characters {

        height:100%;
        width:75%;
        margin-left: $spacing-large;
        padding: 0.25rem 0;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        
        & img.imagenCharacters:hover {
            
            box-shadow: 0 8px 32px 0 rgba(252, 2, 2, 0.88);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 10px;
            border: 1px solid rgba(252, 2, 2, 0.88);    
        }
        &:nth-of-type(1) {
            grid-area: card1;
        }
        
        &:nth-of-type(2) {
            grid-area: card2;
        }
        
        &:nth-of-type(3) {
            grid-area: card3;
        }
        
        &:nth-of-type(4) {
            grid-area: card4;
        }
        
        &:nth-of-type(5) {
            grid-area: card5;
        }

        & h3.tituloCharacters {
            font-family: cursive;
            font-size: $text-medium;
            text-align: center;
            color: map-get($colors,secondary);
            margin-bottom:3rem;
        }

        & p.charactersParrafo {
            padding: 1rem;
            font-size:$text-small;
            text-align: center;
            color: map-get($colors,secondary);
        }

        & img.imagenCharacters {
            border-radius: 1em;
            width:100%;
            height:250px;
        }

        & audio.ragnarAudio{
            position: absolute;
            width: 180px;
            left: 137px;
            top: 10px;
            opacity:0;
        } 
        & audio.lagerthaAudio{
            position: absolute;
            width: 181px;
            top: 9px;
            left: 124px;
            opacity: 0;
        }
        & audio.bjornAudio{
            position: absolute;
            width: 180px;
            left: 147px;
            top: 10px;
            opacity:0;
        }
        & audio.rolloAudio{
            position: absolute;
            width: 180px;
            left: 150px;
            top: 10px;;
            opacity:0;
        }
        & audio.flokiAudio{
            position: absolute;
            width: 180px;
            left: 152px;
            top: 10px;
            opacity:0;
        } 
    }
}


@media only screen and (max-width: 992px) {

    section.container article.personajesNeon h1.neon {
        font-size: 5.6em; 
    }

    section.wrapper article h2{
        font-size: 2em;
    } 
    
    section.cards {
        padding:0;
        display: flex;
        flex-direction:column;
        gap: 2rem;
        align-items: center;
        margin-right:4rem;
        article.characters h3.tituloCharacters {
            font-size: 3em;
            margin-top: 2rem;
            margin-bottom:2rem;
        }
        article.characters p.charactersParrafo{
            font-size: 2.5em;
            text-align: center;
            margin-bottom:1rem;
        }
        article.characters img.imagenCharacters{
            height:250px;
        }
        & audio.ragnarAudio{
            position: absolute;
            width: 180px;
            left: 137px;
            top: 10px;
            opacity:0;
        } 
        & audio.lagerthaAudio{
            position: absolute;
            width: 181px;
            top: 9px;
            left: 124px;
            opacity: 0;
        }
        & audio.bjornAudio{
            position: absolute;
            width: 180px;
            left: 147px;
            top: 10px;
            opacity:0;
        }
        & audio.rolloAudio{
            position: absolute;
            width: 180px;
            left: 150px;
            top: 10px;;
            opacity:0;
        }
        & audio.flokiAudio{
            position: absolute;
            width: 180px;
            left: 152px;
            top: 10px;
            opacity:0;
        } 
        
        }
}
/* MEDIAQUERIES PERSONAJES HASTA 480px */

@media only screen and (max-width: 480px){

    section.container article.personajesNeon h1.neon {
        font-size: 4em; 
    }

    section.wrapper article h2{
        font-size: 1.5em;
    } 
    
        section.cards {
                display: grid;
                gap: $indent-sangria;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                align-items: center;
                grid-template-areas:
                        "card1"
                        "card2"
                        "card3"
                        "card4"
                        "card5";
            article.characters h3.tituloCharacters {
            font-size: 2em;
            margin-top: 2rem;
            margin-bottom:2rem;
        }
            article.characters p.charactersParrafo{
            font-size: 1.5em;
            text-align: center;
            margin-bottom:1rem;
        }           
            article.characters img.imagenCharacters{
            height:135px;
        }
            & audio.ragnarAudio{
            position: absolute;
            width: 180px;
            left: 72px;
            top: 10px;
            opacity:0;
        }
            & audio.lagerthaAudio{
            position: absolute;
            width: 181px;
            top: 9px;
            left: 72px;
            opacity: 0;
        }
            & audio.bjornAudio{
            position: absolute;
            width: 180px;
            left: 72px;
            top: 10px;
            opacity:0;
        }
            & audio.rolloAudio{
            position: absolute;
            width: 180px;
            left: 72px;
            top: 10px;;
            opacity:0;
        }
            & audio.flokiAudio{
            position: absolute;
            width: 180px;
            left: 72px;
            top: 10px;
            opacity:0;
        }
    }

}




