/* PAGINA PLATAFORMAS */

section {
        article div.container h1{
          margin-top: 3.5rem;
        }
        article div.container article.vikingsNeon h1.neon {
        font-size:10em;
        padding:0;
        }
        article h2.subtituloPlataformas {
          margin-bottom: $spacing-medium;
          margin-top: $spacing-medium;
          text-align:center;
          font-size: 6em;   
          color: map-get($colors,primary);
          text-transform:uppercase;
          color:white;
          text-align:center;
          animation: neonGlow 2s infinite alternate $easeInOutQuad;
        }
        article img.conSuscripcion{ 
            width: 100%;
            height:400px;
            margin: 0 4rem;
        } 
        article img.sinSuscripcion{
            width: 100%;
            height:400px;
            margin: 0 4rem;
            margin-bottom:3rem;
        } 
        article div.container{
            display:flex;
            justify-content:center;
            align-items:center;
        }
}

/* MEDIAQUERIES PLATAFORMAS */

@media only screen and (max-width: 992px) {
    section {

        article div.container article.vikingsNeon h1.neon {
        font-size:5em;
        padding:0;
        }
        article h2.subtituloPlataformas {
            margin-top:1rem;
            margin-bottom:4rem;
            font-size:4em;
            text-align:center;
        }
        article img.conSuscripcion{ 
            margin-bottom:$spacing-large;
            width: 70%;
            
        } 
        article img.sinSuscripcion{
            width: 70%;
        } 
        article div.container{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
}
}

@media only screen and (max-width: 480px) {
    section {
        article div.container article.vikingsNeon h1.neon {
            font-size:3.2em;
            padding:0;
            }
        article h2.subtituloPlataformas {
            margin-top:1rem;
            margin-bottom:4rem;
            font-size:2.4em;
            text-align:center;
        }
        article img.conSuscripcion{ 
            margin-bottom:$spacing-large;
            width: 70%;
            height:250px;
            
        } 
        article img.sinSuscripcion{
            width: 70%;
            height:250px;
        } 
        article div.container{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
}

}