/* PAGINA TEMPORADAS */


section.temporadas{
    
    & h2{
        margin-bottom: $spacing-medium;
        margin-top: $spacing-medium;
        text-align:center;
        font-size: 4vw;
        color: map-get($colors,primary);
        text-transform:uppercase;
        color:white;
        text-align:center;
        animation: neonGlow 2s infinite alternate $easeInOutQuad;     
    }
  
    & h3{
        margin-bottom: $indent-sangria;
        color: map-get($colors,alternative);
        font-size: $text-medium;
        text-align:center;
    }

    & p {
        text-indent: $indent-sangria;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: $text-base;
        text-align: justify;
        margin-left:$indent-sangria;
        margin-right:$indent-sangria;
        color: map-get($colors,secondary);
    }

    & article.temporada6 p{
        margin-bottom: $indent-sangria;
    }
}

/* PARTE MEDIAQUERIES */

@media (max-width: 768px) {
    section.temporadas{
        display:flex;
        flex-direction:column;
        & h2{
            text-align:center;
            font-size: $text-medium;
        }
        & h3{
            margin-bottom: $indent-sangria;
            text-align:center;
            font-size: $text-base;
        }
    
        & p {
            text-align:center;
            font-size: $text-small;
            text-align: justify;
            margin-left:$indent-sangria;
            margin-right:$indent-sangria;
        }
    }

}