
    /* colors */
    $text-color:rgb(228, 0, 0);

    /* map colors */
    $colors: (
        primary:white,
        secondary: rgb(0, 247, 255),
        alternative: rgba(119, 113, 119, 0.823),
        negro:#000
    );

    @each $color, $value in $colors {
        #{$color} {
            color: #{$value};
        }
    }

     /* Spacings 1rem=10px */
    $spacing-small: 2.4rem;
    $spacing-medium: 3.5rem;
    $spacing-large: 5rem;
    $spacing-superlarge: 10rem;
    $indent-sangria:2rem;


    /* font-family */
    $font-titulo:Verdana, Geneva, Tahoma, sans-serif;
    $font-subtitulo:Arial, Helvetica, sans-serif;
    $font-texto:'Barlow', sans-serif;

    /* font sizes */
    $text-large: 6em;
    $text-medium: 3em;
    $text-base: 2em;
    $text-small: 1.5em;

